@model CLC.Models.RegisterRequest

@{
    ViewBag.Title = "RegisterPassed";


}

<h2>Register Passed</h2>

<div>

    Sucessfully registered in as @Model.Username

</div>

<div>
    @Html.ActionLink("Login Here", "Index", "Login")
</div>

